
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}
header {
  background-color: #ffffff;
  padding: 15px 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0 30px;
}
nav ul li {
  margin-left: 30px;
}
nav ul li a {
  color: #0088a9;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover{
    color: #ff6f00;
}

.banner img{
    width: 100%;
    height: auto;
    display: block;
}
.sobre {
 
  padding: 40px 20px;
  margin: 0 auto;
  background-color: #ffffff;
  padding-top: 60px;
  text-align: justify;
}
.sobre h2 {
  font-size: 24px;
  color: #0088a9;
  margin-bottom: 15px;
  margin-left: 60px;
}
.sobre p {
  text-align: justify;
  margin-bottom: 15px;
  margin-left: 60px;
  margin-right: 60px;
}
.destaques {
  padding: 60px 30px;
  background-color: #fff;
}
.destaques h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #0088a9;
  text-align: left;
  margin-left: 50px;
}
.destaques p {
  margin-bottom: 30px;
  text-align: left;
  color: #555;
  margin-left: 48px;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  
}
.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 23%;
  min-width: 200px;
  padding: 0 0 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease,box-shadow 0.2 ease;
}
.card:active{
  transform: scale(0.95);
  box-shadow: 0 0 12px rgba(0,136,169,0.3);
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 4px 20px rgba(0,136,169,0.2);
}
.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 0;
  margin-bottom: 20px;
}

.login {

  padding: 60px 30px;
  background-color: #f0faff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-titulo {
  font-size: 26px;
  margin-bottom: 50px;
  color:#0088a9;
  text-align: left;
  align-self: flex-start;
  margin-left: 40px;
}
.login-container{
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0,0, 0.08);
    max-width: 500px;
    width: 100%;
    margin-left: 40px;
}
.login-container input{
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}
.botoes {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}
.login-btn {
  background-color: #0088a9;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}
.login-btn:hover {
    background-color: #ff6f00;
}

.cancel-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}
.cancel-btn:hover {
 background-color: #00718a;
}
footer {
  background-color: #e0f7fa;
  color: #006666;
  text-align: center;
  padding: 20px 15px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
}
footer a {
  color: #00796b;
  text-decoration: none;
}


.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5px;
}

.local {
  font-weight: bold;
  color: #0088a9;
  padding: 10px;
}

.preco {
  font-weight: bold;
  color: #ff6f00;
  padding: 10px;
}
html{
  scroll-behavior: smooth;
}